html{
    height: 100%;
}
body{
    height: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
}
/* Custom Font sizes */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1{
    font-size: 60px;
    font-weight: 800;
}
h2{
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 24px;
}
h6{
    font-size: 22px;
}
p{
    font-size: 18px;
    color: #989EBB;
}
.small-p{
    font-size: 14px;
}
.custom-text-small{
    font-size: 16px;
}
.text-grey{
    color: #989EBB;
}
a{
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #0F2882 !important;
    text-decoration: none !important;
    
}
.extra-small-text{
    font-size: 12px !important;
}
.primary-gradient{
    background: linear-gradient(270deg, #141754 0%, #112374 28.33%, #0F2982 100%);
}
.small-section-wrapper{
    max-width: 550px;
}
.custom-padding-top-bottom{
    padding: 32px 0;
}
.section-padding{
    padding: 60px 0;
}
.custom-text-primary{
    color: #0F2882;
}
.custom-text-black{
    color: #1C1C45;
}
.custom-text-balck{
    color: #1C1C45;
}
.text-grey-light{
    color: #677489;
}
.custom-font-bold{
    font-weight: 800;
}
.custom-font-bold-extra{
    font-weight: 700;
}
.custom-font-semibold{
    font-weight: 600;
}
.font-weight-500{
    font-weight: 500;
}
.font-regular{
    font-weight: 400;
}
.card-wrapper{
    padding: 16px;
    border-radius: 15px;
    border: 1.251px solid #C0C4D7;
    display: block;
    text-decoration: none;
}
.custom-card-img-wrapper{
    position: relative;
}
.custom-card-img-wrapper img{
    max-width: 100%;
    border-radius: 12px;
    max-height: 270px;
    width: 100%;
}
.custom-status-wrapper {
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 75px 125.087px 125.087px 0px;
    position: absolute;
    left: 0;
    color: white;
}
.custom-status-wrapper.sucess{
    background: rgba( 50, 201, 151,0.8);
   
}
.custom-status-wrapper.red{
    background: rgba(255, 83, 80,0.8);
}
.custom-status-wrapper.grey{
    background: rgba(152, 158, 187,0.8);
}
.custom-status-wrapper.black{
    background: rgba(28, 28, 69,0.8);
}
.card-details-wrapper{
    padding: 32px 0 16px;
    border-bottom:1px solid #C0C4D7 ;
    display: flex;
    align-items: center;

}
.card-details-wrapper-image{
    width: 58px;
    height: 58px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #C0C4D7;
}
.card-details-wrapper-image img{
    max-width: 100%;
}
.card-details-text-wrapper{
    padding-left: 15px;
    width: calc(100% - 58px);
}
.card-details-text-wrapper-top, .card-details-text-wrapper-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-details-text-wrapper-bottom{
    padding-top: 10px;
}
.custom-image-text-wrap{
    display: flex;
    align-items: center;
}
.custom-image-text-wrap img{
    max-width: 18px;
    max-height: 18px;
    margin-right: 7px;
}
.card-wrapper-bottom{
    display: flex;
    align-items: center;
    padding-top: 16px;
}
.card-wrapper-bottom p{
  position: relative;
  padding: 0 16px;
}
.card-wrapper-bottom p:nth-child(1){
    padding-left: 0;

  }
  .card-wrapper-bottom p:nth-child(1)::before{
    content: none;
  }
.card-wrapper-bottom p::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: 4px;
    background: #E6E8EE;
  }
/* Custom Primary Buttons */
.custom-btn{
    padding: 14px 32px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    text-decoration: none !important;
    min-width: 230px;
    display: inline-block;
    border: none;
}
.small-btn{
    padding: 10px !important;
    min-width: 150px !important;
}
.custom-primary-button{
    background: #0F2882;
    color: #FFFFFF !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.custom-primary-button-filled{
    background: #0F2882;
    color: #FFFFFF !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.custom-link{
    color: white !important;
    font-size: 18px;
    font-weight: 400 !important;
}
.custom-text-eclipse{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.custom-text-wrap-3{
    -webkit-line-clamp: 3;
}

.custom-text-wrap-2{
    -webkit-line-clamp: 2;
}
.custom-text-wrap-4{
    -webkit-line-clamp: 4;
}
.custom-primary-button:hover{
    background:#141754;
}
.filter-cars{
    font-size: 12px !important;
    color: #545454 !important;
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.filter-cars img{
    max-width: 50px;
}
.filter-by-city{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4;
}
.filter-by-city  li{
    width: 25%;
}
.filter-by-city li a{
    font-size: 12px !important;
    color: #545454 !important;
    font-weight: 500;
}
.nav-item .custom-primary-button{
    font-size: 16px !important;
    font-weight: 500 !important;
} 
.custom-secondary-button{
    color: #FF5450 !important;
    border: 1px solid #FF5450;
    text-decoration: none !important;
    transition: .3s ease-in;
}
.custom-secondary-button:hover{
    background: #FF5450 !important;
    border: 1px solid transparent;
    color: white !important;
}
.orange-filled-btn{
    background-color: #FF5450 !important;
    color: white !important;
}
.orange-filled-btn:hover{
    background-color: white !important;
    color: #FF5450 !important;
    border: 1px solid #FF5450;
}
.white-outline-btn{
    background-color: transparent;
    border: 1px solid white;
    color: white !important;
}
.white-outline-btn:hover{
    background-color: #FF5450 !important;
    border: 1px solid transparent;
}
.custom-primary-button span{
    padding-right: 8px;
    display: inline-block; 
    transition: transform 0.3s ease;
}
.custom-primary-button span i{
    font-weight: 700;
    transform: rotate(90deg); 
    transform-origin: center; 
}
.custom-primary-button:hover span i{
    transform: unset; 
    transform-origin: center; 
}
.white-outline-filled-btn{
    background: white !important;
    border: 1px solid #FF5450 !important;
    color: #FF5450 !important;
}
.white-outline-filled-btn:hover{
    background: #FF5450 !important;
    color: white !important;
}
.nav-link{
    padding: 0 24px !important;
}
.nav-link:nth-last-child(1){
    padding-right: 40px !important;
}
.custom-padding-inner-section{
    padding: 48px 0;
}

/* styles.css */
.search-container {
    display: flex;
    position: relative;
}


.search-input {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    padding: 16px 70px 16px 20px;
    flex: 1; /* Grow to fill remaining space */
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    min-height: 80px;
    outline: none;
    color: #575E8D;
}
.search-input::placeholder {
    color: #575E8D;
}
.search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-button {
    background-color: #FF5450;
    border: none;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    display: inline-block;
}
.search-button img{
    max-width: 100%;
    margin-bottom: 10px;
}
.search-button:hover{
    background-color: #E02B1D;
}

.search-button i {
    color: white;
}
.custom-box-wrapper{
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-color: #FF5450 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.custom-box-wrapper img{
    max-width: 100%;
}

/* Ensure proper spacing of elements */
.custom-header {
    margin: 0 auto;
    border-radius: 80px;
    max-width: 1320px;
    top: 54px;
    padding: 16px 32px;
    transition: top 0.3s ease; /* Adding transition for the 'top' property */
    background-color: white;
}
.scroll .custom-header{
    top: 26px;

}

/* Ensure the logo doesn't shrink too much on smaller screens */
.navbar-brand img {
    max-width: 190px;
}

/* Center telephone icon vertically */
.navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

/* Style the dropdown menu */
.dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    
}

/* Position the triangle tip */
.dropdown-menu:before {
    content: "";
    position: absolute;
    top: -30px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.dropdown-menu-wide {
    width: 740px;
}
.dropdown-container {
    position: relative;
}
.dropdown-menu.show {
    display: block;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu ul li {
    margin-bottom: 10px;
}

.dropdown-menu ul li a {
    color: #333;
    text-decoration: none;
}
 /* Banner Section css */
.banner-section{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 900px;
}
.banner-section{
    display:flex;
    align-items: center;
    justify-items: flex-start;
    color: white;
}
.banner-inner-section-wrapper{
    max-width: 740px;
}
 /* Brands Section Css */
.brands-section {
    padding: 30px 0;
    border-bottom: 1px solid #C0C4D7;
}
.brands-section img{
    margin: 0 45px;
    max-width: 166px;
    max-height: 34px;
}
.best-deal-section{
    padding-top: 120px;
}
.custom-row-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 30px;
}
.custom-column {
    max-width: 340px;
    padding: 0 35px;
    text-align: center;
}
.custom-line-wrapper {
    min-width: 80px;
    border: 1px solid #C0C4D7;
}
 /* Best Selling Section Css */
.best-selling-section{
    background-position: center right;
    background-size: 50%;
    background-repeat: no-repeat;
}


.car-deals{
    min-height: 620px;
    padding: 60px 80px;
    border-radius: 48px;
    background-repeat: no-repeat , no-repeat !important;
    background-position: center right , top left!important;
    background-size: contain, 20% !important;
    color: white !important;
}
.car-deals p{
    color: white !important;
}
.car-wrapper-top{
    position: absolute;
    top: 150px;
    right: -140px;
    max-width: 800px !important;
}
.custom-box-smile{
    width: 58px;
    height: 58px;
    border-radius: 50%;

}
.custom-box-smile img{
 max-width: 100%;

}
.big-card-wrapper{
    background-size: cover !important;
    min-height: 620px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding: 32px;
    color: white !important;
    display: flex;
    align-items: flex-end;
    opacity: 0.8;
    border-radius: 18px;
}
.small-height{
    min-height: 300px;
}
.big-card-wrapper p{
    color: white;
}
.custom-white-card-wrapper{
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
    padding: 24px;
    border-radius: 18px;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-auto-rows: 50px;
    grid-gap: 10px;
  }
  
  .short {
    grid-row: span 4;
  }
  
  .tall {
    grid-row: span 6;
  } 
  
  .customer-img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .get-to-know{
    width: 100%;
    min-height: 630px;
    border-radius: 50px;
    padding: 80px;
    background-position:center right!important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }
  .custom-accordian  div,  .custom-accordian button{
    background-color: transparent !important;
    border: none !important;
  }
  .custom-accordian  .accordion-item{
    background-color: #fff !important;
    margin-bottom: 20px;
    border-radius: 6px;
  }
  .custom-accordian  button{
    font-size: 22px;
    font-weight: 600;
    color:#1C1C45 ;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
  .custom-accordian  button::after{
   content: none;
  }
  .custom-accordian  .custom-box-wrapper{
    background-color: #FF5450 !important;
    width: 32px;
    height: 32px;
    padding: 10px;
    margin-right: 22px !important;
  }
  .custom-accordian  .custom-box-wrapper i{
    color: #fff;
    font-size: 16px;
  }
  .custom-accordian  .accordion-button.collapsed i::before{
    content: "\f067";
  }
  .custom-accordian  .accordion-button i::before{
    content: "\f068";
  }
  .custom-accordian p{
    color: #575E8D !important;
  }
  .custom-medium-container{
    max-width: 820px;
    margin: 0 auto;
  }
  /* Footer Css */
  .footer-contact-section img{
    max-width: 320px;
  }
  .footer-contact-section p{
    color:white !important ;
  }
   .footer-wrapper{
    padding: 80px 0;
     background:  linear-gradient(270deg, #0F2982 0%, #112374 71.67%, #141754 100%);
  }
  .footer-contact-inner-section .custom-font-bold{
    min-width: 100px;
  }
  .footer-nav-links{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
  }
  .footer-nav-links li{
    padding: 5px 0;
  }
  .footer-nav-links a{
    color: white !important;
    font-size: 16px !important;
    font-weight: 400 !important;
  }
   .social-media-links ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }
  .social-media-links li{
    padding: 5px 12px;
  }
  .social-media-links li:nth-child(1){
    padding-left: 0 !important;
  }
  .social-media-links a i{
    color: white !important;
    font-size: 20px !important;
  }
  .social-media-links a:hover i{
    color:  #FF5450 !important;
  }
  .patent-section-footer {
    padding-top: 20px;
  }
  .patent-section-footer p{
   
    color: white !important;
    text-align: center;
  }
  .filter-by-car-types{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .filter-by-car-types i{
    color: #575E8D;
  }
  .custom-box-small{
    width: 32px;
    height: 32px;
    padding: 6px;
  }
@media (max-width: 1441px) {
.banner-section{
    height: 680px;
}
.custom-line-wrapper{
    min-width: 40px;
}
.custom-header{
    max-width: 1100px;
}
}
@media (max-width: 1199px) {
    .best-deal-section{
        padding-top: 80px;
    }
    .section-padding{
        padding: 40px 0 !important;
    }
    .custom-header {
        max-width: 900px;
        padding: 16px 22px;
    }
    .custom-btn {
        padding: 12px 20px;
        min-width: 180px;
    }
    .custom-header .custom-btn{
        min-width: auto !important;
    }
    a{
        font-size: 16px !important;
    }
    .nav-link:nth-last-child(1) {
        padding-right: 20px !important;
    }
    .nav-link{
        padding: 0 12px !important;
    }
   .banner-section{
    background: linear-gradient(270deg, #141754 0%, #112374 28.33%, #0F2982 100%) !important;

   } 
   .container-xxl{
    padding: 0 24px !important;
   }
   .car-wrapper-top {
    top: unset;
    right: -90px;
    bottom: -90px;
}
.car-wrapper-top img{
    max-width: 420px !important;
}
.custom-row-wrapper  .custom-line-wrapper:nth-last-child(2){
    display: none;
}
.custom-column{
    padding: 20px 35px;
}
.search-input {
    padding: 12px 70px 12px 20px;
    font-size: 16px;
    min-height: 60px;
}

}
@media (max-width: 991px) {
    .custom-header {
        max-width: 700px;
    }
    .brands-section .logos-wrapper {
        overflow: scroll;
    }
    .brands-section .logos-wrapper::-webkit-scrollbar{
        display: none;
    }
    .brands-section > div{
        padding: 0 !important;
    }
   
    .custom-column{
        padding: 20px 10px;
    }
    .custom-line-wrapper {
        min-width: 4px;
    }
    .car-deals{
        padding: 40px;
    }
    .car-wrapper-top{
        display: none;
    }
}
@media (max-width: 767px) {
    .nav-link{
        padding: 0 12px !important;
    }
    .dropdown-menu .col-md-6 {
        width: 50%;
    }

    /* Adjust position of dropdown menu */
    .dropdown-menu {
        top: calc(100% + 10px);
        left: 0;
    }

    /* Position relative to parent container */
    .dropdown-container {
        position: relative;
    }
    /* Reduce width of wide dropdown menu for smaller screens */
    .dropdown-menu-wide {
        width: 100%;
        max-width: 300px; /* Adjust max-width as needed */
    }

    /* Center the dropdown menu horizontally for smaller screens */
    .dropdown-container {
        flex-direction: column;
        align-items: center;
    }
}

